.btn {
	color: #243e56;
	background: #fbfdff;
	box-shadow: inset 0 0 0 2px #243e56 ;
}
.btn:hover {
    border-radius: 20%;
}
.favorite {
	background-color: yellow;
	border-color: black;
}
.todo{
	cursor: pointer;
	text-decoration: underline;
}
.card-link {
	border: none;
	background: none;
	color: rgb(14, 101, 240);
}
.card-link:hover {
	text-decoration: underline;
}
.star-icon {
	position: absolute;
	top: 5px;
	right: 5px;
 }
  
  